 body {
 	background-color: #101010;
 	color: white;
 	padding:0 0.5em;
 }

 h1 {
 	font-style: italic;
 }

 u {
 	text-decoration: none;
 	color: #F0BD15;
 }

 div {
 	text-align: center;
 }

 span {
 	padding: 0.5em 0.5em;
 	margin:0.25em;
 	cursor: pointer;
 	display: inline-block;
 }

 span#do_login {
 	background-color: #FDD119;
 	color: #101010;
 	border-radius: 0.25em;
 }

 span#do_login:hover {
 	box-shadow: 0 0 5px #999;
 }

 span#fuck_off {
 	color: #FDD119;
 	text-decoration: underline;
 }

 a {
 	display: block;
 	width:100%;
 	text-align:center;
 }

 img {
 	max-width: 100%;
 }